body{
	margin: 0;
	padding: 0;
	background-image: url('http://getwallpapers.com/wallpaper/full/a/3/e/104168.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center center;
	background-attachment: fixed;
}
.signin{
	position: absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:500px;
	height:500px;
	padding:80px 40px;
	background-color: rgba(0,0,0,0.7)
}
.uicon{
	position: absolute;
	border-radius: 50%;
	overflow: hidden;
	top:-60px;
	left:230px;
}
.signin h2{
	padding: 2px 0 10px 0;
	color:#FFFFFF;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	letter-spacing: 2px;
}

.signin input{
	width:100%;
	margin-bottom: 50px;
}
.signin input[type=Username],.signin input[type=Password]{
	border:none;
	border-bottom: 1px solid #FFFFFF;
	background:transparent;
	outline:none;
	height:30px;
	color:#FFFFFF;
	font-size: 15px;
}
.signin input[type=button]{
	height: 40px;
	width:50%!important;
	color:#000000;
	font-size: 17px;
	background:#FF0040;
	border-radius: 25px;
	border:none;
	margin-top: 5%;
	margin-left: 27%;
	font-weight: bold;
	outline:none;
}
.signin input[type=button]:hover{
	
	background-color: #00FFFF;
}



.signin a{
	text-decoration: none;
	margin-left:174px;
    color:#FFFFFF;
	font-family:Verdana;
	font-size: 20px;
}

.signin a:hover{
	color:#00FFFF;
}

.signin img{
	width:130px;
	height:130px;
	
}
