<h1>Template for Articles List</h1>


<!--
{%block sidebar%}
<!-- Articles Sidebar -->
<aside class="aside">
    <div class="aside-inner">
        <nav data-sidebar-anyclick-close="" class="sidebar">
            <ul class="nav">
                <li class="nav-heading">
                    <span>Feed Navigation</span>
                </li>
                <li class="active">
                    <a href="http://localhost:3000/articles/" title="News Articles">
                        <em class="icon-grid"></em>
                        <span>All Articles</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
{%endblock%} {%load static%} {%block content%}
<!-- Page Content -->
<div class="content-wrapper">
    <div class="content-heading">
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" data-toggle="modal" data-target="#new-feed-modal" class="btn btn-default">New Feed</button>
            </div>
        </div>
        {%if feed%} {{ feed.title }} {%else%} News Articles {%endif%}
    </div>
</div>
</div>
{%endblock%} {%block javascript%}
<script src="{% static 'frontend/src/containers/HomePage.js' %}"></script>
{%endblock%}